* {
  box-sizing: border-box;
}

.newaccount {
  border: 2px solid #4593cf;
  width: 30%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 70%;
    margin: 1rem 0;
    border: none;
    border-bottom: 2px solid #4593cf;
    
    &:focus {
      outline: none;
    }
  }
}

input[type="password"].cpass {
  margin-top: 0;
}

.signup {
  width: 60%;
  margin: 1rem 0;
  padding: 0.3rem 0;
  background-color: #4593cf;
  border: none;
  border-radius: 0;
  font-size: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  fill: white;

  p {
    color: white;
    font-size: 125%;
  }
}

.disabled {
  width: 70%;
  margin: 1rem 0;
  padding: 0.7rem 0;
  background-color: #aaaaaa;
  border: none;
  border-radius: 0;
  color: white;
  font-size: 80%;
  cursor: auto;

  &:hover {
    background-color: #aaaaaa;
  }
}

.warn {
  color: red;
  font-size: 70%;
  margin: 0 auto;
  padding-bottom: 0;
  width: 70%;
  text-align: left;
}

.hide {
  color: red;
  font-size: 70%;
  margin: 0;
  padding-bottom: 0;
  visibility: hidden;
}

.styledauth {
  width: 100%;
}

.googleicon {
  color: white !important;
}

.forgot {
  text-align: center;
}

.error {
  color: red;
  text-align: center;
  width: 80%;
}